#header{
width:90%
background: red:
margin: 0 auto;
}
#content{
width:90%;
background: black;
margin: 0 auto;
}
font{
color: red;
background: black;
padding: 2px;
}
img
{
border-style: dotted;
border-width: 10px;
border-color: black;
margin: 0 auto;
}
